#mediaModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}

#modalDialog {
  width: 400px;
  max-height: 600px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  z-index: 11000;
  transition: height 0.125s ease-in-out;

  #modalHeader {
    padding: 8px;
    background: #333;
    color: #ccc;
    font-weight: bold;
    a {
      color: #ccc;
      text-decoration: none;
      float: right;
      font-size: 30px;
      line-height: 18px;
      &:hover {
        color: white;
      }
    }
  }
  #modalBody {
    padding: 8px;
    overflow: hidden;

    .img-container {
      max-height: 600px;
      overflow: hidden;
    }

    #modalDropZone {
      width: 100%;
      height: 100px;
      border: dashed 2px #ccc;
      margin: 8px 0;
      position: relative;

      p.placeholder {
        text-align: center;
        margin: 0;
        line-height: 100px;
      }

      .percentage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(255,255,255,0.5);
        text-align: center;
        display: block;
        
        p {
          width: 100%;
          font-size: 30px;
          font-weight: 900;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.active {
        border: 0;
        height: auto;
      }
    }
  }
}