.slideShow-container {
  position: relative;
  width: calc(100% - #{$biblioteca-width});
  float: left;
  height: calc( 100% - 81px);
  padding: 15px;
  overflow-y: scroll;

  .slide-form {
    border: solid 1px #ccc;
    padding: 15px;
    .row{
      padding: 0 15px;
      margin-left: -23px;
      margin-right: -23px;
    }
    textarea{
      resize: none;
    }
  }
  .dropzone-container{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: calc( 100% - 100px) ;
    border: dashed 4px #ccc;
    background: rgba(0, 0, 0, 0.75);

    &.active {
      display: block;
    }

    .dropzone {
      position: absolute;
      display: block;
      text-align: center;
      font-size: 24px;
      color: #ccc;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-slider{
    .slick-slide{
      .img-responsive{
        margin: 0 auto;
      }
    }
    .slick-dots{
      img{
        width: 100px;
        height: 80px;
        object-fit: cover;
      }
    }
    .remove-slide{
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      color: #ff0000;
      cursor: pointer;
    }
  }


  @media screen and (min-width: 992px) {
  }
}