.slideShow-container {
  position: relative;
  width: calc(100% - #{$biblioteca-width});
  float: left;
  height: 100%;
  padding: 15px;

  .slide-form {
    border: solid 1px #ccc;
    // position: relative;
    // float: left;
    // overflow: hidden;
    // display: block;
    // height: 100%;
  }

  @media screen and (min-width: 992px) {
  }
}