
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Colors
@import "colors";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Media / Biblioteca
@import "biblioteca";

// Media / Modal
@import "mediaModal";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  min-height: 100%;
}

#app, #appContainer, #appContainer > div {
  height: 100%;
  min-height: 100%;
}

/*
  Bootstrap overrides

*/
.navbar {
  margin-bottom: 0;
}

.btn-dark {
  @include button-variant(#ccc, #444, #ccc);
  border: none;
}
